$main-background-color: #1a1918;
$main-text-color: #b5ad9d;

// Body
$body-bg: $main-background-color;
$body-color: $main-text-color;

// Typography
$font: Open Sans, sans-serif;
$font-family-sans-serif: $font;
$font-family-base: $font;
$headings-font-family: $font;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$navbar-dark-color: $body-color;
$navbar-dark-hover-color: $body-color;